<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link th:href="@{../css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<meta charset=UTF-8>
	<title>UsuarioNuevo</title>
</head>
<body class="text-center">
    	<form id="formUsuario" th:object="${usuarioDelForm}" th:action="${agregarUsuario}" method="post">
    		<div class="form-group" >
			  	<label for="id">Escriba el ID de Usuario</label>
			  	<input type="number" class="form-control" id="id" placeholder=ID th:field="*{id}"></input>
			</div>
			<div class="form-group">
			  	<label for="nameUsuario">Escriba el Usuario (username)</label>
			  	<input type="text" class="form-control" id="nameUsuario" placeholder="Usuario" th:field="*{nombreUsuario}"></input>
			</div>
			<div class="form-group">
			  	<label for="contraseña">Escriba la contraseña</label>
			  	<input type="password" class="form-control" id="contraseña" placeholder="Contraseña" th:field="*{contraseña}"></input>
			</div>
			<div class="form-group">
			  	<label for="nombre">Ingresa el Nombre</label>
			  	<input type="text" class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}"></input>
			</div>
						<div class="form-group">
			  	<label for="apellido">Ingresa el Apellido</label>
			  	<input type="text" class="form-control" id="apellido" placeholder="Apellido" th:field="*{Apellido}"></input>
			</div>
			<div class="form-group">
			  	<label for="dni">Ingresa el DNI</label>
			  	<input type="number" class="form-control" id="dni" placeholder="DNI" th:field="*{dni}"></input>
			</div>
			<div class="form-group">
			  	<label for="tipo">Ingresa el Tipo de Usuario a agregar (Admin/Client)</label>
			  	<input type="text" class="form-control" id="tipo" placeholder="Tipo" th:field="*{tipo}"></input>
			</div>
			<div class="form-group"></div>
			<div>
				<button type="submit" class="btn btn-primary" value="Agregar">Agregar</button>
			</div>
		</form>
</body>
</html>		